body{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 202, 223);
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 50px;
    
}

#resposta{
    font-size: 30px;
    margin-bottom: 5px;
}
#classifica{
    font-size: 20px;
    color: rgb(231, 14, 14);
    text-align: center;
}
table{
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;
}
table .titulo th{
    background-color: rgb(25, 37, 61);
    color: white;
    font-weight: normal;
    font-size: 18px;
    padding: 4px;
}

table .escopo th{
    font-weight: normal;
    border-bottom: 1px solid black;
    font-size: 14px;
    padding: 5px;
}
form{
    padding: 20px;
    border-style: groove;
    border-color: rgb(99, 111, 133);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 146, 177);
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10pt;
    border-radius: 10px;
}

input[type=number] {
    width: 80%;
    max-width: 230px;
    padding: 12px 20px;
    background-color: white;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    
}
input[type=submit]{
    background-color: #4CAF50;
    border: 2px groove #337235 ;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

@media only screen and (max-width:600px) {
    h1{
        font-size: 30px;
    }
}